<ion-view hide-back-button="true">
  <ion-nav-title><span class="ion-information-circled"></span> Info</ion-nav-title>

  <ion-content class="padding">
    <h2 class="text-center">Information</h2>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
    <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore omnis quod. Adipisci, dolorum eum
    eveniet
    incidunt ipsum minima omnis repellat suscipit unde voluptatem. Aliquid dolorum earum excepturi molestiae
    officia!</p>
  </ion-content>
</ion-view>
